corebird
Corebird.db
src/*.c
Corebird
src/widgets/*.c
src/containers/*.c
src/util/*.c
*.c
*.o
*.lo
*.la
.dirstamp
*.stamp
*.stamp-t
*.template
*.sed
*.sin
*.header
po/Rules-quot
.deps
ABOUT-NLS
Makefile.in
m4/
src/sql/*.c
CMakeFiles
Makefile
src/Makefile
src/*.cmake
assets/avatars/*
assets/banners/*
assets/user/*
stats
*.swp
src/util/Config.vala
session.vim
*~
aclocal.m4
compile
config.h
config.h.in
config.guess
config.log
config.status
config.sub
configure
autom4te.cache
depcomp
install-sh
ltmain.sh
missing
libtool
ChangeLog
INSTALL
intltool-extract.in
intltool-merge.in
intltool-update.in
config.rpath
test-driver
stamp*
.libs
data/gschemas.compiled
src/corebird.h
src/corebird.vapi
