corebird
Corebird
.dirstamp
*.stamp
*.stamp-t
*.template
*.sed
*.sin
*.header
po/Rules-quot
.deps
ABOUT-NLS
Makefile.in
m4/
src/sql/*.c
CMakeFiles
Makefile
src/Makefile
src/*.cmake
assets/avatars/*
assets/banners/*
assets/user/*
stats
*.swp
src/util/Config.vala
session.vim
*~
INSTALL
intltool-extract.in
intltool-merge.in
intltool-update.in
config.rpath
test-driver
stamp*
.libs
data/gschemas.compiled
src/corebird.h
src/corebird.vapi
build/
libcorebird.vapi
