Corebird
Corebird.db
src/*.c
src/widgets/*.c
src/containers/*.c
src/util/*.c
*.c
src/sql/*.c
CMakeCache.txt
CMakeFiles
Makefile
*.cmake
install_manifest.txt
src/CMakeFiles
src/Makefile
src/*.cmake
assets/avatars/*
assets/banners/*
assets/user/*
stats
Corebird.sublime-workspace
*.swp
*.ninja
.ninja_log
