*.log
*.trs
*.stamp-t

_test.db

utils
bundlehistory
usercounter
filters
sql
tweetparsing
multimedia
friends
tweetmodel
texttransform
avatardownload
inlinemediadownloader
avatarcache
dmmanager
usercompletionmodel
