.image-overlay{
  padding-right: 5px;
  padding-top: 2px;
}

.list-username {
  font-size: 1.35em;
  font-weight: bold;
}

.avatar {
  border-color: grey;
}

.sidebar {
  -GtkWidget-window-dragging: true;
}

.button-slim {
  -GtkButton-default-border: 0;
  -GtkButton-default-outside-border: 0;
  -GtkButton-inner-border: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
  -GtkButton-image-spacing: 0;
  padding: 4px;
}

.tweet-large {
  padding: 6px;
  border-top: 1px solid @borders;
  border-bottom: 1px solid @borders;
}

.inline-media {
  background: none;
  border-radius: 0px;
  border: none;
  -GtkButton-default-border: 0;
  -GtkButton-default-outside-border: 0;
  -GtkButton-inner-border: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
  padding: 0px;
  box-shadow: none;
  opacity: 0.8;
}

.inline-media:hover {
  border-top: 2px solid #4a90d9;
  border-bottom: 2px solid #4a90d9;
  opacity: 1.0;
}


.button-wide {
  padding-left: 12px;
  padding-right: 12px;
}

.retweet-button,
.favorite-button,
.reply-button,
.more-button{
  font-size: 1.0em;
  background-color: transparent;
}
.retweet-button:hover,
.retweet-button:active {
  color:green;
}


.large-font {
  font-size: 1.3em;
}

.favorite-button:hover,
.favorite-button:active {
  color: shade(yellow, 0.9);
}

/* Don't target :hover:active here */
.favorite-button:active,
.retweet-button:active {
  background-image: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.reply-button:hover {
  color: blue;
}



.favorite-button:backdrop,
.retweet-button:backdrop {
  background-color: transparent;
}

.badge{
  background-color: shade(blue, 1.4);
  text-shadow: 0px 1px 1px #FFF;
  border-radius: 20px;
  border: 1px solid white;
  padding: 3px 2px;
}
.badge:backdrop{
  background-color: transparent;
}


.tweet {
  border-bottom: solid 1px alpha (@borders, 0.4);
}

.text-only-button{
  font-weight: bold;
  background-image: none;
  background-color: transparent;
  border:none;
  -GtkButton-default-border: 0;
  -GtkButton-default-outside-border: 0;
  -GtkButton-inner-border: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
  padding: 0px;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid transparent;
}
.text-only-button:hover{
  border-bottom: 2px solid currentColor;
}
.text-only-button:active{
  background-color: shade(currentColor, 2.3);
}
.text-only-button:backdrop{
  background-color: transparent;
}

.pixbuf-button {
  padding: 0px;
  background-image: none;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  transition: box-shadow 0.25s ease-in-out;
}

.pixbuf-button:hover {
/*  box-shadow: 0px 0px 10px alpha(black, 0.8);*/
  border: 2px solid #4a90d9;
}

.pixbuf-button:active {
  box-shadow: inset 0px 0px 10px alpha(black, 0.95);
}
.pixbuf-button:backdrop {
  background-color: transparent;
  background-image: none;
}

.reply-indicator {
  background-color: #4a90d9;
}
