.tweet {
	/*background-color: transparent;*/
	/*border-bottom: 1px solid #DDD;*/
}

/** Tweets the user sent himself */
.user-tweet {
	/* Set a special background color or something */
}

.arrow-button {
	color: alpha(@theme_fg_color, 0.7);
	border-radius: 0px;
	background-image: none;
	border:none;
}
.arrow-button:hover{
	/*color: green;*/
	background-image: linear-gradient(to right, alpha(#888, 0.7),
	                                  alpha(#888, 0.2));
}
.arrow-button:active{
	background-image: none;
	background-color: #AAA;
}
.arrow-button:backdrop{
	background-color: transparent;
}

.text-button{
	padding: 0px;
	font-weight: bold;
	background-image: none;
	border:none;
}
.text-button:hover{
	text-shadow: 0px 0px 5px #444;
	background-image: none;
}
.text-button:active{
	color: black;
	background-color: red;
}

.tweet .avatar {
	padding: 0px;
	background-image: none;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.tweet .avatar:hover {
	box-shadow: 0px 0px 10px alpha(black, 0.8);

}

.tweet .avatar:active {
	box-shadow: 0px 0px 10px alpha(black, 0.95);
}
.tweet .avatar:backdrop {
	background-color: transparent;
	background-image: none;
}

.tweet .author {
	
}

.tweet .screen-name {
	/* Label containing the author's screen_name */
}

.tweet .time-delta,
.tweet .time-delta .label,
.tweet .time-delta.label {
	color: alpha(@theme_fg_color, 0.7);
	background-image: none;
	background-color: transparent;
	padding: 0px;
	margin: 0px;
}
.tweet .time-delta:backdrop{
	color: @theme_unfocused_fg_color;
}

.profile-header .name,
.profile-header .screen-name,
.profile-header .description {
	color: #EEE;
	text-shadow: 1px 1px 0px #000;
}


/* Progress-item showed when loading new tweets */
.progress-item .button {
	background-image: none;
	border: none;
	background-color: transparent;
}
