.image-overlay{
  padding-right: 5px;
  padding-top: 2px;
}

.list-username {
  font-size: 1.35em;
  font-weight: bold;
}


.button-slim {
  -GtkButton-default-border: 0;
  -GtkButton-default-outside-border: 0;
  -GtkButton-inner-border: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
}

.button-wide {
  padding-left: 12px;
  padding-right: 12px;
}

.retweet-button,
.favorite-button,
.reply-button{
  font-family: FontAwesome;
  font-size: 1.0em;
}
.retweet-button:hover,
.retweet-button:active {
  color:green;
}

.favorite-button:hover,
.favorite-button:active {
  color: shade(yellow, 0.9);
}

.favorite-button:active,
.retweet-button:active {
  background-image: none;
  background-color: transparent;
  border: none;
}

.reply-button:hover {
  color: blue;
}


.conversation-label {
  font-family: FontAwesome;
  font-size: 1em;
}


.favorite-button:backdrop,
.retweet-button:backdrop {
  background-color: transparent;
}

.badge{
  background-color: shade(blue, 1.4);
  text-shadow: 0px 1px 1px #FFF;
  border-radius: 20px;
  border: 1px solid white;
  padding: 3px 2px;
}
.badge:backdrop{
  background-color: transparent;
}

.stream{
/*  -GtkBox-spacing: 3; */
}

.tweet {
  border-color: alpha(black, 0.2);
}

/** Tweets the user sent himself */
.user-tweet {
  /* TODO: Set a special background color or something */
}

.time-delta-label {
  -GtkWidget-link-color: #555;
}

.text-only-button{
  font-weight: bold;
  background-image: none;
  background-color: transparent;
  border:none;
  -GtkButton-default-border: 0;
  -GtkButton-default-outside-border: 0;
  -GtkButton-inner-border: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
  padding: 0px;
  box-shadow: none;
}
.text-only-button:hover{
  text-shadow: 0px 0px 5px shade(currentColor, 1.1);
  background-image: none;
  border: none;
}
.text-only-button:active{
  background-color: shade(currentColor, 0.2);
  color: shade(currentColor, 2.8);
}
.text-only-button:backdrop{
  background-color: transparent;
}

.pixbuf-button {
  padding: 0px;
  background-image: none;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  transition: box-shadow 0.25s ease-in-out;
}

.pixbuf-button:hover {
/*  box-shadow: 0px 0px 10px alpha(black, 0.8);*/
  border: 2px solid green;
}

.pixbuf-button:active {
  box-shadow: 0px 0px 10px alpha(black, 0.95);
}
.pixbuf-button:backdrop {
  background-color: transparent;
  background-image: none;
}

.tweet .author {

}

.tweet .screen-name {
  /* Label containing the author's screen_name */
}

.profile-header .description {
  color: #EEE;
  text-shadow: 1px 1px 1px #000,
               0px 0px 2px #000;
  -GtkWidget-link-color: #EEE;
  font-size: 2.0em;
}

.profile-header .data {
  color: #EEE;
  background-color: alpha(black, 0.55);
  font-size: 1.8em;
  -GtkWidget-link-color: #EEE;
}

.profile-header .data-button {
  background-color: alpha(black, 0.55);
  background-image: none;
  border-radius: 0px;
  border: none;
  color: #EEE;
  text-shadow: none;
  padding-top: 3px;
  padding-right: 8px;
  padding-left: 8px;
}
/* Progress-item showed when loading new tweets */
.progress-item .button {
  background-image: none;
  border: none;
  background-color: transparent;
}
