@define-color sidebar_bg #333;

.avatar-round {
  border: 1px solid grey;
  border-radius: 48px;
}

.account-button {
  padding: 2px 4px;
}

.sidebar button,
.sidebar .button {
  border: none;
  box-shadow: none;
  background-image: none;
  border-radius: 0px;
  background-color: @sidebar_bg;
  color: #ddd;
  icon-shadow: none;
}

.sidebar button:hover,
.sidebar .button:hover {
  background-color: shade(@sidebar_bg, 1.3);
}


.sidebar button:checked,
.sidebar .button:checked {
  background-color: shade(@sidebar_bg, 1.5);
}

.sidebar button .badge,
.sidebar .button .badge {
  background-color: shade(blue, 1.4);
  background-image: none;
  text-shadow: 0px 1px 1px #FFF;
  border-radius: 20px;
  border: 1px solid white;
  padding: 3px 2px;
}

.sidebar button .badge:backdrop,
.sidebar .button .badge:backdrop {
  background-color: transparent;
}




.button-slim {
  -GtkButton-default-border: 0;
  -GtkButton-default-outside-border: 0;
  -GtkButton-inner-border: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
  -GtkButton-image-spacing: 0;
  padding: 4px;
}

.inline-media {
  background: none;
  border-radius: 0px;
  -GtkButton-default-border: 0;
  -GtkButton-default-outside-border: 0;
  -GtkButton-inner-border: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
  padding: 0px;
  box-shadow: none;
  opacity: 0.8;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: none;
  border-right: none;
}

.inline-media:hover {
  border-top: 2px solid #4a90d9;
  border-bottom: 2px solid #4a90d9;
  opacity: 1.0;
}

.image-placeholder {
  background-image: none;
  border-radius: 0px;
  box-shadow: none;
  border: none;
  background-color: alpha(grey, 0.7);
  -GtkButton-default-border: 0;
  -GtkButton-default-outside-border: 0;
  -GtkButton-inner-border: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
  -gtk-icon-source: -gtk-icontheme("list-add-symbolic");
}

.image-placeholder:hover {
  background-color: alpha (#333, 0.8);
}

.image-placeholder:active {
  background-color: alpha (#333, 0.9);
}


.image-added {
  box-shadow: none;
  background-image: none;
  border-radius: 0px;
  border: none;
  background-color: transparent;
}

.image-added:hover {
  color: white;
  background-color: alpha (red, 0.34);
  icon-shadow: none;
  -gtk-icon-source: -gtk-icontheme("edit-delete-symbolic");
}

.image-progress {
  box-shadow: none;
  background-image: none;
  border-radius: 0px;
  border: none;
  background-color: transparent;

  color: white;
  -gtk-icon-source: -gtk-icontheme("content-loading-symbolic");
}

.image-success {
  box-shadow: none;
  background-image: none;
  border-radius: 0px;
  border: none;
  background-color: transparent;

  color: white;
  background-color: alpha (green, 0.5);
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
}

.image-error {
  box-shadow: none;
  background-image: none;
  border-radius: 0px;
  border: none;
  background-color: transparent;

  color: white;
  background-color: alpha (red, 0.5);
  -gtk-icon-source: -gtk-icontheme("dialog-error-symbolic");
}


.retweet-button,
.favorite-button,
.reply-button,
.more-button{
  background-color: transparent;
}
.retweet-button:hover,
.retweet-button:checked {
  color:green;
}

.favorite-button:hover,
.favorite-button:checked {
  color: shade(yellow, 0.9);
}

/* Don't target :hover:active here */
.favorite-button:checked,
.retweet-button:checked {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.reply-button:hover {
  color: blue;
}



.favorite-button:backdrop,
.retweet-button:backdrop {
  background-color: transparent;
}

.tweet {
  border-bottom: solid 1px alpha (grey, 0.3);
}

.text-only-button{
  font-weight: bold;
  background-image: none;
  background-color: transparent;
  border:none;
  text-shadow: none;
  -GtkButton-default-border: 0;
  -GtkButton-default-outside-border: 0;
  -GtkButton-inner-border: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
  padding: 0px;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 1px solid transparent;
}
.text-only-button:hover{
  border-bottom: 1px solid currentColor;
}
.text-only-button:active{
  background-color: shade(currentColor, 2.3);
}
.text-only-button:backdrop{
  background-color: transparent;
}
.readonly-text-only-button {
  color: currentColor;
}

.pixbuf-button {
  padding: 0px;
  background-image: none;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
}

.pixbuf-button-round {
  border: 1px solid grey;
  border-radius: 48px;
}

.pixbuf-button:hover {
  border: 1px solid #4a90d9;
}

.pixbuf-button:active {
  box-shadow: inset 0px 0px 3px alpha(black, 0.95);
}
.pixbuf-button:backdrop {
  background-color: transparent;
  background-image: none;
}
.reply-indicator {
  background-color: #4a90d9;
}

.profile-button {
  background-image: none;
  background-color: alpha(white,0);
  box-shadow: none;
  border: none;
  border-radius: 0px;
}

.profile-button:checked {
  border-bottom: 2px solid #4a90d9;
}

.profile-button:hover {
  background-color: alpha(white, 0.3);
}

.profile-button:active {
  background-color: alpha(white, 0.5);
  border-bottom: 2px solid grey;
}

.quote {
  border-left: 3px solid currentColor;
  padding-left: 6px;
}
