*.gir
*.typelib
*.la
*.lo
*.o
Makefile
Makefile.in
.deps
.libs
*.bak
*~
*.pc
*.trs
*.log
aclocal.m4
autom4te.cache
compile
configure
config.*
depcomp
gtk-doc.make
gtk-doc.m4
install-sh
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
libtool
ltmain.sh
missing
stamp-h1
build/test-driver
docs/reference/rest*/*-decl*.txt
docs/reference/rest*/*-overrides.txt
docs/reference/rest*/*-undeclared.txt
docs/reference/rest*/*-undocumented.txt
docs/reference/rest*/*-unused.txt
docs/reference/rest*/*.args
docs/reference/rest*/*.hierarchy
docs/reference/rest*/*.interfaces
docs/reference/rest*/*.prerequisites
docs/reference/rest*/*.signals
docs/reference/rest*/*.stamp
docs/reference/rest*/html/
docs/reference/rest*/xml/
examples/continuous-twitter
examples/dump-xml
examples/get-fireeagle-location
examples/get-flickr-favorites
examples/lastfm-shout
examples/post-twitter
examples/post-twitter-media
examples/test-raw
examples/test-xml
rest-extras/test-runner
rest/rest-enum-types.c
rest/rest-enum-types.h
rest/stamp-rest-enum-types.h
rest/rest-marshal.[ch]
rest/test-runner
tests/custom-serialize
tests/flickr
tests/lastfm
tests/oauth
tests/oauth-async
tests/oauth2
tests/proxy
tests/proxy-continuous
tests/threaded
tests/xml
